
.EmpatyTodo{
              position: fixed;
              background: #c7e5f5;
              margin-top: 60px;
              left: 30%;
              right: 30%;
              justify-content: center;
              height: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #1E1E1F;
              border-radius: 3px;
              border: solid 4px  rgba(11, 40, 60, 0.5);
              font-weight: bold;
              font-size: 18px;
              box-shadow: 0px 10px 50px  rgba(12, 13, 15, 0.50);
              background: linear-gradient(90deg, #c7e5f5 ,#437c99 );
              background-size: 400%  400%;
              animation: loadingAnimation 3s  ease-in-out infinite  ;
}

@keyframes loadingAnimation{
              0%{
                            background-position: 0%  50%;
              }
              50%{
                            background-position: 100%  50%;
              }
              100%{
                            background-position: 0%  50%;
              }
}

@media(max-width:920px) and (orientation: landscape){
              .EmpatyTodo{
                            left: 20%;
                            right: 20%;
                            height: 50px;
                            margin-top:20px ;

              }
}

@media(max-width:670px)and (orientation: landscape){
              .EmpatyTodo{
                            font-size: 15px;
                            left: 15%;
                            right: 15%;
                            margin-top: 10px;
              }
}

@media(max-width:420px){
              .EmpatyTodo{
                            height: 40px;
                            font-size: 12px;
                            left: 10%;
                            right: 10%;
                            
              }
}

 
