
.CreateTodoButton {
    background-color: #40c5ee;
    border: solid 2px  black ;
    border-radius: 50%;
    cursor: pointer;
  font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 24px;
    font-weight: bold;
    color: #c7e5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;  
    z-index: 1;
    transform: rotate(0);
    transition: .3s ease;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
    color: rgba(4, 56, 87, 0.5)  ;
  
  }