

.TodoSearch {
    background: #d2e8f4;
    border-radius: 4px;
    border: 3px solid #202329;
    margin: 0 24px;
    height: 40px;
   width: calc(100% -  70px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 8px 50px  rgba(12, 13, 15, 0.50);

}

.TodoSearch::placeholder{
    color: #342929;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;

}

.TodoSearch:focus {
    outline-color: #064a5d;
    
}