
.TodoItem {
    background-color: #bed9e9;
    border:solid 3px rgba(15, 35, 48, 0.5);
    position: relative;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;    
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0px 5px 40px rgba(46, 40, 40, 0.3);
    height: 40px;  
  }
  
  .TodoItem-p {
    margin: 13px 0 13px 13px;
   width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
    color: rgb(171, 57, 57);
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    right: 12px;
  }
  .Icon-delete:hover {
    color: rgb(178, 6, 6);
    
  }

  @media(max-width:915px){
    .TodoItem{
      margin: 10px 10px 10px 10px;
      margin-top: 15px;
      height: 40px;
    }
    .TodoItem-p{
      font-size: 15px;
    }
    .Icon{
      width: 20px;
      height: 20px;
      font-size: 20px;
    }    
  }
  @media(max-width:555px){
    .TodoItem{
      height: 30px;   
    }
    .TodoItem-p{
      font-size: 15px;
    }
    .Icon{
      width: 20px;
      height: 20px;
      font-size: 15px;
    }
  }
  @media(max-width:460px){
    .TodoItem{
      margin-left: 10px;
      margin-right: 10px; 
      margin-top: 10px; 
    } 
    .Icon{
      width: 20px;
      height: 20px;
      font-size: 15px;
  }
}
@media(max-width:420px){
  .TodoItem-p{
    font-size: 12px;
    margin: 5px 0 5px 5px;  
  }
}
@media(max-width:395px){
  .TodoItem-p{
    font-size: 10px;
    margin: 1px 0 1px 1px;
  }
  .Icon{
    width: 12px;
    height: 12px;
  }
  .Icon-check{
    left: 8px;
  }
  .Icon-delete{
    right: 8px;
  }
}
@media(max-width:325px){
  .TodoItem-p{
    font-size:8px ;
  }
  .Icon-check{
    left: 5px;
  }
  .Icon-delete{
    right: 5px;
  }

}
