body {
  margin: 0;
  padding: 0;
  background: #85c1e2;
  color: #4b4949;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin:  40px ;
  border: solid 5px  rgba(17, 35, 46, 0.5) ;
  position: relative;
  min-height: 100vh;
  box-shadow: 0px 4px 40px rgba(13, 13, 13, 1);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
